POSTGRES_ADAPTER=postgresql
POSTGRES_HOST=adasdb
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=adasLocal*
POSTGRES_DB=adas
POSTGRES_OPTS=sslmode=disable

# For Diesel migration
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

ENV=local
BASE_URL=http://localhost:8000
key=test_key

LOG_NAME=adas_api
LOG_LEVEL=debug
LOG_HANDLER=
SENTRY_ENABLED=true
